# Git
.git
.gitignore

# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/

app/app/__init__.py
app/app/asgi.py
app/app/settings.py
app/app/wsgi.py